/* FONTS USED */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');


/* COLORS AND FONTS VARS */
:root {
    --pale-blue: #e0e8ff;
    --bright-blue: #3829e0;
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: #7280a7;
    --dark-blue: hsl(223, 47%, 23%);
    --white: hsl(0, 0%, 100%);

    --main-font: 'Red Hat Display';
}


/* GENERAL STYLE */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--pale-blue);
}


/* HEADER STYLE */
.title_container {
    width: auto;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 20px;
    font-family: var(--main-font), sans-serif;
    text-align: center;
    margin-top: 50px;
    z-index: 2;
}


/* MAIN STYLE */
.bg_img_container {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.bg_img_container .pattern_bg_mbl {
    width: 400px;
    height: auto;
}

.bg_img_container .pattern_bg_dt {
    display: none;
}


/* Card Container STYLE */
.card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    width: 325px;
    height: 561px;
    margin-top: 100px;
    background-color: var(--white);
    border-radius: 18px;
}

.main_img_card .img_card {
    width: 325px;
    border-radius: 18px 18px 0 0;
}

.card_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_info .card_title {
    font-size: 22px;
    font-family: var(--main-font), sans-serif;
    font-weight: 700;
    margin: 30px 0 20px 0;
    color: var(--dark-blue);
}

.card_info .card_text {
    width: 260px;
    text-align: center;
    font-family: var(--main-font), sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--desaturated-blue);
    margin-bottom: 30px;
    line-height: 23px;
}

.plan_selection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--very-pale-blue);
    margin: 0 18px 15px 18px;
    padding: 12px 0;
    border-radius: 10px;
    font-family: var(--main-font), sans-serif;
    font-size: 14px;
}

.plan_selection img {
    width: 42px;
}

.plan_selection .chosen_plan {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin-right: 35px;
    color: var(--dark-blue);
}

.plan_selection .chosen_plan .plan_cost {
    font-weight: 700;
    color: var(--desaturated-blue);
}

.plan_selection .change_btn {
    font-size: 13px;
    font-family: var(--main-font), sans-serif;
    font-weight: 900;
}

.button_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.button_section .payment_btn {
    margin: 10px;
    padding: 15px 0;
    width: 285px;
    border: 0;
    border-radius: 8px;
    background-color: var(--bright-blue);
    color: var(--white);
    font-size: 13px;
    font-weight: 800;
    font-family: var(--main-font), sans-serif;
    cursor: pointer;
    box-shadow: 4px 20px 15px -1px hsl(250, 56.9%, 90%);
    -webkit-box-shadow: 4px 20px 15px -1px hsl(250, 56.9%, 90%); 
    
}

.button_section .payment_btn:hover {
    background-color: var(--dark-blue);
}

.button_section .cancel_btn {
    margin-top: 22px;
    font-family: var(--main-font), sans-serif;
    font-weight: 900;
    font-size: 13px;
}

.button_section .cancel_btn a {
    text-decoration: none;
    color: var(--desaturated-blue);
}


/* FOOTER STYLE */
.attribution { 
    font-size: 14px;
    text-align: center; 
    width: auto;
    height: 60px;
    display: flex;
    justify-content: center;
    padding-top: 630px;
}

.attribution a, 
.attribution a:link, 
.attribution a:visited { 
    color: var(--bright-blue); 
}


/* Hover Effect */
.plan_selection .change_btn:hover a {
    color: hsl(244, 50%, 62.4%);
    text-decoration: none;
}

.button_section .payment_btn:hover {
    background-color: hsl(244, 50%, 62.4%);
}

.button_section .cancel_btn:hover a {
    color: hsl(225, 31.5%, 21.8%);
}



/* ========== MEDIA QUERY ========== */
@media (min-width: 401px) {
    .bg_img_container .pattern_bg_mbl {
        display: none;
    }

    .bg_img_container .pattern_bg_dt {
        display: block;
        width: 100vw;
    }
}

@media (min-width: 600px) {
    .card {
        width: 350px;
        height: 580px;
    }

    .main_img_card .img_card {
        width: 350px;
    }

    .card_info .card_title {
        font-size: 20px;
    }

    .card_info .card_text {
        font-size: 14px;
    }

    .plan_selection {
        margin: 0 30px 15px 30px;
    }
}

@media (min-width: 1600px) {
    .title_container {
        padding-top: 140px;
    }

    .title_container .title {
        font-size: 30px;
    }

    .card {
        margin-top: 220px;
    }

    .attribution {
        font-size: 16px;
        padding-top: 700px;
    }
}